.transfer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	border: 1px solid #f85555;
	border-radius: 6px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	padding: 12px 26px;
}

.transfer:last-child {
	margin-bottom: 0px;
}

.transfer__user {
	font-size: 20px;
}

.transfer__date,
.transfer__amount {
	font-size: 18px;
}

.transfer__amount {
}
